<div class="arrow"></div>
<div class="content-wrapper">
  <div class="text-center" ng-if="twainApi.version.newVersion">
    <p class="logo-wrapper"><span class="logo icon-holmes-logo"></span></p>
    <p class="text-wrapper">
      Há uma nova versão do assistente disponível.
    </p>
  </div>

  <div class="text-center" ng-if="!twainApi.version.newVersion">
    <p class="logo-wrapper"><span class="logo icon-holmes-logo"></span></p>
    <p class="text-wrapper">
      Não existem novas notificações.
    </p>
  </div>
</div>

<div class="button-wrapper" ng-if="twainApi.version.downloadReady">
  <button class="btn btn-primary" ng-click="actions.update()">Reiniciar</button>
</div>

<div class="button-wrapper" ng-if="twainApi.version.newVersion && !twainApi.version.downloading && !twainApi.version.downloadReady">
  <button class="btn btn-primary" ng-click="actions.downloadNewVersion()">Atualizar</button>
</div>

<div class="button-wrapper" ng-if="twainApi.version.newVersion && twainApi.version.downloading && !twainApi.version.downloadReady">
  <button class="btn btn-primary" disabled>Atualizando</button>
</div>
