<nav class="navbar navbar-static-top" role="navigation">
  <div class="container-fluid no-padding">
    <div class="navbar-header">
      <div class="holmes-module pull-left">
        <img src="//cdn.auth0.com/blog/react-js/react.png" />
        Holmes Lab
      </div>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li title="Sair" >
          <a class="logout" >{{$root.user.name}} | Sair</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
